torch
opencv==4.6.0.66
torchvision
torch-scatter
torch-sparse==0.4.3
torch-cluster==1.4.5
torch-geometric==1.3.2
ortools
protobuf==3.20
scikit-learn==1.2.1
JPype1==1.4.1
keybert==0.7.0
konlpy==0.6.0
transformers==4.26.0
